.card {
    width: 90%;
    background-color:  hsl(217, 19%, 24%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    justify-content: space-around;
    max-width: 400px;
    min-width: 300px;
}

.card div {
    padding: 3%;
}


.advice {
    color: hsl(150, 100%, 66%);
    font-size: 14px;
    letter-spacing: 4px;
}

.dice {
    transform: translate(0, 50%);
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice:hover {
    box-shadow: 5px 5px 25px hsl(150, 100%, 66%), -5px -5px 25px hsl(150, 100%, 66%);
    border-radius: 50%;
    cursor: pointer;
}

.divider {
    background-image: url("../images/pattern-divider-mobile.svg");
    color: hsl(193, 38%, 86%);
    width: 295px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}


@media (min-width: 900px) {
    .card {
        width: 700px;
        max-width: 700px;
    }

    .divider {
        background-image: url("../images/pattern-divider-desktop.svg");
        color: hsl(193, 38%, 86%);
        width: 444px;
        height: 16px;
        background-repeat: no-repeat;
    }
}